<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Search Box</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./css/') }}">

  </head>
  <!-- Coded with love by Mutiullah Samim-->

  <body>
    <div class="container">
    <br>
    <br>
     <div class="container">
     If you liked {{ movie }} you may also like
     
     <table class="table table-striped w-auto">
         <thead>
             <th>Movies you may like</th>
         </thead>
          <tbody>
            {% for m,g ,p in details %}
            <tr class="table-info">
            

                <td> {{ m }}</td>
                <td> {{ g }}</td>
                <td> <img height=200px src="https://image.tmdb.org/t/p/w500/{{ p }}"></td>
            
            </tr>
            {% endfor %}
          </tbody>
      </table>    
        </div>

    </div>
  </body>
</html>
